<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twilio IVR Tester</title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css" rel="stylesheet" />
  </head>
  <body>
    <%= erb :navbar %>
    <div class="container">
      <h4><%= @url %></h4>
      <%= erb :gather if @gather.any? %>
      <%= erb :redirect if @redirect.any? %>
      <%= erb :response %>
      <%= erb :say %>
    </div>
    <%= erb :script %>
  </body>
</html>
